@import '/src/styles.scss';

:host{
    display: flex;
    height: 50px;
}


.header{
    display: flex;
    width: 75%;
   
}
.menu{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 20px;
  
    a {
        font: 18px Tahoma bold;
        text-decoration: underline;
        color: blue;
    
        transition: all 0.5s;
        cursor: pointer;
        &:hover{
            color: rgb(34, 34, 34);
        }
    }
    
    a:nth-child(n-1){
        margin-right: 10px;
    }

    
}