:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.coverImg{
    max-width: 700px;
    max-height: 700px;
    height: auto;
    width: auto;
}

