@import '/src/styles.scss';

:host{
   padding-left: 10%;
   padding-right: 10%;
}



.costItem{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slider{
        width: 100%;
    }   

    &:hover{
        background-color: rgb(225, 223, 223);
    }
    .checkbox{
        width: 100px;
    }
    .value{
        width:50px
    }

}

h3{
    @include mt(20px);
}

.costKeyVal{
    width: 100px;
}