
@import "src/styles.scss";

:host{
    display: flex;
    flex-direction: column;
    border: 2px solid $border-color;
    @include pb(5px);
    @include pt(5px);
}
.navbar{

}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
